<!--

Navigation bar
==============

Same for all layouts. Provides all page navigation links.

-->
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Joseph Tinoco</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about">About me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/about">About me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
