<!--

Slider
======

Displays rotating images and text. Used in the home page.

-->

<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/technics/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>Software for the enterprise and the web</h3>
          <h5 class="light grey-text text-lighten-3">Diverse experience and broad skill-set.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/technics/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Fluent in code and business</h3>
          <h5 class="light grey-text text-lighten-3">Great communication and teamwork skills.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/technics/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Positive, results-focused attitude</h3>
          <h5 class="light grey-text text-lighten-3">Computers can do anything - if you ask them nicely.</h5>
        </div>
      </li>
    </ul>
  </div>
<!-- Carousel initialization -->
<script type="text/javascript">
$(document).ready(function(){
  $('.slider').slider({full_width: true});
});
</script>
