<!DOCTYPE html>
<!--

CONTACT layout`
==============

Layout for the "Contact me" page.

-->
<html>

  <% include components/htmlheader %>

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Navigation -->
    <% include components/navbar %>

    <!-- Main container -->
    <div class="container">
      <%- include components/contactform %>
    </div>

    <!-- Footer -->
    <% include components/footer %>

    <!-- Materialize -->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
