<!DOCTYPE html>
<!--

INDEX layout
==============

Layout for most of the site's pages.

-->
  <html>

    <% include components/htmlheader %>

    <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Navigation -->
      <% include components/navbar %>

      <!-- Page highlight - it can be a huge title or a carousel -->
      <% if (typeof highlightImage !== 'undefined') { %>
        <%- include(pageHighlight, { imgname: highlightImage } ) %>
      <% } else { %>
        <%- include(pageHighlight) %>
      <% } %>

      <!-- Main container -->
      <div class="container">
        <%- pageContent %>
      </div>

      <!-- Footer -->
      <% include components/footer %>

      <!-- Materialize -->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
